<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="row border rounded-5 p-3 bg-white shadow box-area">
    <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
      style="background: #3b65b3;">
      <div class="featured-image mb-3">
        <img src="../../../../assets/img/png/1.png" class="img-fluid" style="width: 350px;">
      </div>
      <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Entre agora.
      </p>
      <small class="text-white text-wrap text-center"
        style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Junte-se a experientes Cinéfilos nesta
        plataforma.</small>
    </div>

    <form class="col-md-6 right-box" [formGroup]="form">
      <div class="row align-items-center">
        <div class="header-text mb-1">
          <h2><strong>Olá, de novo</strong></h2>
          <p>Nós estamos feliz de ter você de volta.</p>
        </div>
        <fieldset disabled>

          <div class="input-group mb-2 input-login">
            <label for="">E-mail</label>
            <input type="email" class="form-control form-control-lg fs-6 email" placeholder="{{getEmail()}}">
          </div>
        </fieldset>
        <div class="input-group mb-1 input-login">
          <label for="">Senha</label>
          <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Informe sua senha"
            formControlName="password" [ngClass]="cssValidator(f.password)">
          <div *ngIf="f.password.hasError('required') && !invalidPassword" class="invalid-feedback">
            senha é obrigatória
          </div>
          <div *ngIf="invalidPassword" class="invalid-feedback">
            senha incorreta
          </div>
        </div>
        <div class="input-group mb-4 d-flex justify-content-between">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="formCheck">
            <label for="formCheck" class="form-check-label text-secondary"><small>Lembre-se de mim</small></label>
          </div>
          <div class="forgot">
            <small><a href="#">Esqueceu sua senha?</a></small>
          </div>
        </div>
        <div class="input-group mb-3">
          <button class="btn btn-lg btn-primary w-100 fs-6" (click)="login()"><strong>Entrar</strong></button>
        </div>
      </div>
    </form>


  </div>
</div>
