@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

.box-area{
    width: 930px;
}

.right-box{
    padding: 40px 30px 40px 40px;
}

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}

.rounded-5{
    border-radius: 30px;
}

.btn-primary {
  background-color: #3b65b3;
  border: none;
  box-shadow:  0px 2px 10px #3b65b3;
  outline:  none;
  box-sizing: border-box;
}

.btn-primary:hover {
  background-color: #5a80c7;
}

.btn-primary:active {
  background-color: #5a80c7;
  box-shadow: none;
}

.btn-primary {
  background-color: #3b65b3;
}

.input-login label {
  display: block;
  margin-bottom: 5px;
}

.input-login input {
  width: 100%;
}

@media only screen and (max-width: 768px){
     .box-area{
        margin: 0 10px;
     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }

     .left-box img {
      margin-top: 50%;
     }

     .right-box{
        padding: 20px;
     }
}
