.footer,
.footer * {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
}

.footer,
.footer h4 {
  font-weight: 700;
}

.footer i {
  font-size: 900px;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #315274;
  color: #fff;
}

.copyright {
  background-color: #2a3f52;
}
